<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>

<body class="font-bitter bg-slate-200">
  
  <div class="max-w-screen-md mx-auto min-h-screen p-4">

    <header class="flex flex-col justify-end h-10 md:h-20 mb-4">
      <a href="/" class="font-medium hover:font-medium text-2xl text-black">jcusnxj</a>
      <div>
      <a href="/blog/" class="">blog</a> |
      <a href="/log/" class="">log</a>
      </div>
      <hr class="border-slate-400">
    </header>

    <main class="min-h-[calc(100vh-7rem)] md:min-h-[calc(100vh-12rem)]">

      {% block content %}
      {{ content | safe }}
      {% endblock %}

    </main>
    <footer class="h-10 md:h-20">
    </footer>
  </div>
</body>

</html>