{% extends "views/_layouts/base.njk" %}
{% block content %}
<div class="font-bold">{{ title }}</div>
<div class="text-sm pb-2 text-other">{{ date | postDate("LLL d, yyyy") }}</div>
{{ content | safe }} 
{% endblock %}