<header class="flex flex-col pt-8 md:pt-20">
    <a href="/" class="text-2xl font-semibold tracking-tighter pb-1">jcusnxj</a> 
    <div class="pb-2 text-other">
        <a href="/blog/" class="font-semibold tracking-tighter">Blog</a> |
        <a href="/log/" class="font-semibold tracking-tighter">Log</a> 
    </div>
    <hr class="border-line">
</header>